
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
 <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <script src="./static/css/jquery.min.js"></script>
  <script src="./static/css/bootstrap.min.js"></script>
    <style>
body
{

background-color:#0099FF;
}
</style>

</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E vaccine</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
     
      <li><a href="/table">view user</a></li>
      <li><a href="/">logout</a></li>
    </ul>
  </div>
</nav>
<div class="container">
   <div class="col-sm-4">
  <img src="./static/img.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>

</div>
<div class="col-sm-4">
		 <img src="./static/im.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
 <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
 </div>
 <div class="col-sm-4">
		 <img src="./static/im.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
 <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
 </div>
<div class="row">
 <div class="col-sm-4">
 <p>India began administration of COVID-19 vaccines on 16 January 2021. As of 3 November 2021, India has administered over 1.07 billion doses overall, including first and second doses of the currently-approved vaccines.[3][4][5] In India, nearly half the eligible population has got at least one shot, and 19 per cent received both nine months after the vaccine rollou</p>
 </div>
  <div class="col-sm-4">
 <p>Citizens above the age of 18 can book appointments through the COWIN platform or can do a Walk-In registration on site. All vaccine centres have registration desks, vaccine booths and observation rooms. Vaccine certificates can be downloaded digitally through the COWIN platform, or citizens can ask for a hard copy from vaccination centres. All government run vaccination centers provide free of cost vaccines, private centers do charge</p>
 </div>
  <div class="col-sm-4">
 <p>The first phase of the rollout involved health workers and frontline workers, including police, paramilitary forces, sanitation workers, and disaster management volunteers.[23] By 1 March, only 14 million healthcare and frontline workers had been vaccinated, falling short of the original goal of 30 million</p>
 </div>
</div>

<div class="row">

<div class="col-sm-4">
<p>
FEATURES
</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>

</div>
<div class=col-sm-4>

<p>SERVICES</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>

</div>
<div class=col-sm-4>


<p>ABOUT</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>

</div>
</div>
</div>
</body>
</html>