
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
 <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <script src="./static/css/jquery.min.js"></script>
  <script src="./static/css/bootstrap.min.js"></script>
</head>

<body>
<style>
body
{

background-color:#0099FF;
}
</style>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">E vaccine</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>

      <li><a href="/update">Update</a></li>
      <li><a href="/">logout</a></li>
    </ul>
  </div>
</nav>

 <div class="col-sm-4">
  <img src="./static/img.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
<div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>

 </div>
 <div class="col-sm-4">
		 <img src="./static/im.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
 <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
 </div>
 <div class="col-sm-4">
		 <img src="./static/im.jpg" class="img-circle" alt="Cinque Terre" width="304" height="236">
 <div class="caption">
            <p>Lorem ipsum donec id elit non mi porta gravida at eget metus.</p>
          </div>
 </div>



 <div class="col-sm-4">
 <p>In the life of the software development, problem analysis provides a base for design and development phase. The problem is analyzed so that sufficient matter is provided to design a new system. Large problems are sub-divided into smaller once to make them understandable and easy for finding solutions. Same in this project all the task are sub-divided and categorized.</p>
 </div>
  <div class="col-sm-4">
 <p>mmunization is a global health and development success story, saving millions of lives every year. Vaccines reduce risks of getting a disease by working with your body?s natural defences to build protection. When you get a vaccine, your immune system responds.</p>
 </div>
  <div class="col-sm-4">
 <p>Immunization is a key component of primary health care and an indisputable human right. It?s also one of the best health investments money can buy. Vaccines are also critical to the prevention and control of infectious-disease outbreaks. They underpin global health security and will be a vital tool in the battle against antimicrobial resistance.</p>
 </div>
</div>
<div class="col-sm-4">
<p>
FEATURES
</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>



</div>
<div class=col-sm-4>

<p>SERVICES</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>



</div>
<div class=col-sm-4>


<p>ABOUT</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>
<p>gsjgvoiajviod</p>



</div>
</body>
</html>
